@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        border: 2px;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        color: white;
        border: none;
    }
    .navbar-default {
        background-color: #A4BA6F;
        border: 0;
    }
    .nav.navbar-nav li a{
        color: white;
    }
}
