
#customJumbotron{
    padding: 0 !important;

}
.jumbotron {
    background-image: url('Images/top.jpg');
}
span {
    color: white;
}
.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}


    .panel > .panel-heading:after, .panel > .panel-heading:before {
        position: absolute;
        top: 11px;
        left: -16px;
        right: 100%;
        width: 0;
        height: 0;
        display: block;
        content: " ";
        border-color: transparent;
        border-style: solid solid outset;
        pointer-events: none;
    }

    .panel > .panel-heading:after {
        border-width: 7px;
        border-right-color: #f7f7f7;
        margin-top: 1px;
        margin-left: 2px;
    }

    .panel > .panel-heading:before {
        border-right-color: #ddd;
        border-width: 8px;
    }
.disabled {
    border: 1px solid;
    background-color: green;
    color: greenyellow;
}
.typeOfTip-custom {
    float: left;
}
.startMatch-custom {
    float: right;
}
.votes-custom {
    float: right;
}
.progress-custom {
    width: 100%;
    padding-top: 50px;
}
.odds-custom {
    float: left;
} 
@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    .email-custom {
        width: 100%;
    }

    .time-custom {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .typeOfTip-custom {
        width: 100%;
    }
    .odds-custom {
        width: 100%;
    } 
    .startMatch-custom {
        width: 100%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .votes-custom {
        width: 100%;
        float: top;
        padding-top: 40px;
    }
    .progress-custom {
        padding-top: 200px;
    }
    
}

